<% content_for :body do %>
  <div class='messages'>
    <%=raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) %>

    <%= form_for [refinery, :messages, @message] do |f| %>
      <%= render '/refinery/admin/error_messages',
                 :object => @message,
                 :include_object_name => true  %>

      <div class='field name_field string_field'>
        <%= f.required_label :name %>
        <%= f.text_field :name %>
      </div>

      <div class='field message_field text_field'>
        <%= f.label :message %>
        <%= f.text_area :message, :rows => 8 %>
      </div>

      <div class='actions'>
        <%= f.submit t('.send') %>
      </div>
    <% end %>
  </div>
<% end %>
<%= render '/refinery/content_page' %>
